* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(95, 27, 27);
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
}

body > header {
    background-color: rgb(232, 255, 127);
    padding: 16px 0;
    color: rgb(188, 132, 21);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header li {
        display: inline;
        font-family: 'Russo One', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
}

header li a {
    color: rgb(188, 132, 21);
    text-decoration: none;
}

.container {
    border-radius: 10px 10px;
    width: 90%; 
    max-width: 1366px;
    margin: 0 auto;
    border-radius: 10px;
}

.articles  {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

.articles article img {
    width: 100%;
}

.articles article {
        width: 33%;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        margin: 20px;
        justify-content: space-around;
}

section {
    padding: 16px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

section h2{
    font-size: 32px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
}

.articles article a {
    background-color: brown;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    background:linear-gradient(25deg, rgb(122, 83, 11), white);
    padding: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.articles p{
    height: auto
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
}
#Entreterimento {
    background: linear-gradient(25deg,rgba(165, 164, 103, 0.738),white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    width: 100%;
}

#Entreterimento .articles article a {
    background-color: rgb(123, 72, 5);
}

#Tecnologia {
    background: linear-gradient(25deg,rgba(130, 224, 166, 0.738),white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    width: 100%;
}

#Tecnologia .articles article a {
    background-color: rgb(71, 49, 49);
}